h1 {
    text-align: center;
}


.container {
    background: #eee;
    padding: 10px;
    margin: 50px auto 0;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.items {
    font-size: 20px;
    font-weight: bold;
    height: 100px;
    color: #fff;
    text-align: center;
}

.item1 {
    background-color: orangered;
}

.item2 {
    background-color: mediumslateblue;
    display: flex;
}

.item2>.subitem {

    background-color:wheat;
    color: rgb(78, 67, 16);
    flex-grow: 1;
    margin: 10px;

}

.item3 {
    background-color: mediumpurple;

}

.item4 {
    background-color: hotpink;

}

.item5 {
    background-color: darkblue;

}

.item6 {
    background-color: pink;
}

.item7 {
    background-color: orange;
}

.item8 {
    background-color: lightseagreen;
}