h1{
    text-align: center;
}


.container {
    background: #eee;
    padding: 10px;
    margin: 50px auto 0;
    border: 3px solid black;
        
    
    display: flex;
    flex-wrap: wrap;

    
    flex-wrap: wrap;
    /* align-content: flex-start; */
    /* justify-content: space-between; */
    
    

    
    /* 
    flex-flow: column wrap; */



}

.items {
    /* padding: 20px; */
    font-size: 20px;
    font-weight: bold;
    height: 60px;
    color: #fff;
    text-align: center;
    /* flex-basis: 100px; */
    flex-grow: 1;

}

.item1 {
    background-color: orangered;
    flex-basis: 200px;
    /* flex-grow: 2; */
    /* align-self: flex-start; */
    order: 2;
    /* flex-grow: 2; */
    
}
.item2 {
    background-color: yellowgreen;
    order: 4;
}
.item3 {
    background-color: mediumpurple;
    /* flex-grow: 2; */
    order: 3;
}
.item4 {
    background-color: hotpink;
    order: 2;
    /* align-self: flex-end; */

}
.item5 {
    background-color: darkblue;
    order: 5;
    
}
.item6 {
    background-color: pink;
}
.item7 {
    background-color: orange;
}
.item8 {
    background-color: lightseagreen;
}