*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    text-align: center;
}


.container {
    background: #eee;
    padding: 10px;
    margin: 50px auto 0;
    border: 3px solid black;
    display: flex;
}

.items {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    height: 50px;

}

.item1 {
    background-color: orangered;
    flex: 0 1 200px;
    /*    flex-grow:flex-shrink: flex-basis:  */
}

.item2 {
    background-color: mediumslateblue;
}


.item3 {
    background-color: lightseagreen;
}

.item4 {
    background-color: hotpink;
}

.item5 {
    background-color: lightseagreen;

}

.item6 {
    background-color: pink;
}

.item7 {
    background-color: orange;
}

.item8 {
    background-color: lightseagreen;
}

/* ---form css-- */



.wrapper {
    background-color: #eee;
    list-style: none;
    margin: 50px;
    padding: 20px;
}


.wrapper li {
    display: flex;
    padding: 10px 0px;
}


.wrapper li label {
    flex: 1;
}

@media screen and (min-width:300px) and (max-width:499px) {


    .wrapper li {
        flex-direction: column;
    }

    .wrapper li input {
        flex: 1;
    }
}



@media screen and (min-width:500px) {

    .wrapper li input {
        flex: 3;
    }
}


@media screen and (min-width:768px) {

    .wrapper li input {
        flex: 4;
    }
}



@media screen and (min-width:992px) {

    .wrapper li input {
        flex: 6;
    }
}


@media screen and (min-width:1200px) {

    .wrapper li input {
        flex: 8;
    }
}